<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notesapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/notesapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adapter.AddNoteActivity"></activity>
        <activity android:name=".adapter.ViewNoteBooksActivity" />
        <activity android:name=".adapter.ShowAllNotesActivity" />
        <activity android:name=".adapter.ViewMyNoteActivity" />
        <activity android:name=".adapter.ViewNoteActivity" />
        <activity android:name=".adapter.AddBookActivity" />
        <activity android:name=".SignIn_Up.ConfirmMessageActivity" />
        <activity android:name=".SignIn_Up.ForgotPassActivity" />
        <activity android:name=".SignIn_Up.SignUpActivity" />
        <activity android:name=".SignIn_Up.SignInActivity" />
        <activity android:name=".SignIn_Up.SplashActivity" />
        <activity android:name=".SignIn_Up.TutorialNotebook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adapter.HomePage" />
    </application>

</manifest>